@import "./variables";
@import "./mixins";

.intro-panel{
    color: black;
    padding: 15px 20px;
    font-size: 18px;
    line-height: 130%;
    font-weight: 700;
    background: white;
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    cursor: pointer;
    &:hover{
        background: rgb(179, 178, 178);
        transition: 300ms ease-in-out;
    }
    &:checked{
        background: rgb(179, 178, 178);
        transition: 300ms ease-in-out;
    }
}

.info{
    position: relative;
    min-width: 210px;
    height: 75px;
    font-size: 18px;
    line-height: 130%;
    background: $transparent-bg;
    border-radius: 12px;
    padding: 12px 20px;
    color: white;
    &::after {
        display: block;
        content: "";
        position: absolute;
        bottom: -20px;
        left: 50px;
        border-width: 10px;
        border-style: solid;
        border-color: $transparent-bg transparent transparent transparent;
    }
}

.info-number{
    font-size: 11px;
    line-height: 100%;
    background: $transparent-bg;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    border: 1px solid white;
}

.start{
    color: black;
    padding: 15px 20px;
    line-height: 150%;
    font-size: 18px;
    background: white;
    cursor: pointer;
}

.fullscreen-btn{
    z-index: 99;
    position: fixed;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    opacity: 0.3;
    &:hover{
        opacity: 1;
        transition: 300ms ease-in-out;
        img{
            scale: 1.1;
            transition: 300ms ease-in-out;
        }
    }
    cursor: pointer;
}

.ui-root{
    position: absolute !important;
    top: initial !important;
    left: 0 !important;
    bottom: 0 !important;
    transform: none !important;
    height: 100vh;
    width: 100%;
    display: block !important;
}

.ui-container{
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100vh;
    position: relative;
    .car-front{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 120px;
        background: #645454;
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
    }
    .bottom{
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .steering-wheel-bg {
            position: relative;
            width: 240px;
            height: 150px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            touch-action: none;
        }

        .steering-panel {
            position: absolute;
            width: 240px;
            height: 50px;
            border-radius: 25px;
            background-color: $transparent-bg;
            z-index: 4;
            touch-action: none;
            pointer-events: none;
        }
    
        .steering-wheel {
            position: absolute;
            width: 140px;
            height: 140px;
            border-radius: 50%;
            background-image: url('/ui/handle_orange.png');
            background-position: center;
            background-size: cover;
            transition: transform 0.2s;
            z-index: 3;
            opacity: 0.7;
        }

        .gear-container{
            display: block;
            position: fixed;
            z-index: 2;
            top: 20px;
            right: 20px;
            border: 10px solid #333;
            border-radius: 5px;
            .btn {
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #333;
                color: transparent;
                text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.5);
                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: text;
                background: rgb(170, 169, 169);
            } 
            .btn-gear {
                label {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 0.5px solid #333;
                    font-size: 18px;
                    line-height: 135%;
                    font-weight: 700;
                    color: rgb(66, 66, 66);
                    transition: 300ms ease-in-out
                }
        
                input[type="radio"]:checked+label {
                    color: #fff;
                    text-shadow: 0px 2px 3px #f4f4f4;
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    background-clip: text;
                    background: rgb(255, 164, 80);
                    transition: 300ms ease-in-out;
                }
        
                input[type="radio"] {
                    display: none;
                }
            }
            
        }
    
        .joystick-container {
            position: relative;
            z-index: 2;
            display: block;
            .camera-container {
                width: 50px;
                height: 50px;
                button{
                    background: white;
                }
            }
            .brake-container {
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }
    
            .brake {
                width: 60px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 20px;
                border-radius: 5px;
                background: center / cover no-repeat url("/ui/brake.png");
                cursor: pointer;
                &:hover{
                    transition: 300ms ease-in-out;
                    border: 2px solid #333;
                }
            }
    
            .accel {
                width: 50px;
                height: 90px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                background: center / cover no-repeat url("/ui/accel.png");
                cursor: pointer;
                font-size: 12px;
                &:hover {
                    transition: 300ms ease-in-out;
                    border: 2px solid #333;
                }
            }
        }
    }    
}

.game-over-panel{
    z-index: 16757946;
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    .panel{
        padding: 20px;
        width: 300px;
        background: $transparent-bg;
        color: white;
        border-radius: 25px;
        h5{
            font-size: 22px;
            font-weight: 500;
            line-height: 135%;
        }
        .desc{
            margin-top: 0.5rem;
            font-size: 16px;
            line-height: 135%;
        }
        .btn-container{
            margin-top: 0.5rem;
            color: black;
        }
    }
}

.game-status{
    z-index: 16757946;
    left: 20px;
    top: 20px;
    position: fixed;
    color: white;
    .game-icon{
        width: 25px;
        height: 25px;
    }
    &:hover{
        opacity: 1;
        transition: 300ms ease-in-out;
    }
    .quests{
        border-radius: 25px;
        &.active{
            display: none;
        }
        padding: 15px 20px;
        background: $transparent-bg;
        h5{
            font-size: 18px;
            margin-bottom: 10px;
        }
        .quest{
            display: flex;
            align-items: center;
            line-height: 135%;
            font-size: 14px;
            &:not(:last-of-type){
                margin-bottom: 5px;
            }
            &[data-clear="true"] {
                .dot {
                    background: #fff;
                    transition: 300ms ease-in-out;
                }
                p{
                    text-decoration: line-through;
                }
            }
            .dot{
                border: 1px solid #fff;
                border-radius: 50%;
                display: block;
                width: 5px;
                height: 5px;
                margin-right: 0.5rem;
            }
        }
    }
}

@media screen and (max-width: 1024px){
    .game-status{
        padding: 10px;
        top: 5px;
        left: 5px;
        .quests{
            h5 {
                font-size: 14px;
                margin-bottom: 5px;
            }
        }
        .quest{
            p{font-size: 12px;}
            .dot { }
            // p{ @include ellipseText(1);}
        }
    }
    .ui-container{
        padding: 5px;
        .bottom{
            padding: 5px;
            height: 100vh;
            .gear-container {
                top: 0;
                right: 5px;
            }
            .steering-wheel-bg {
                height: 100px;
            }
            .steering-panel {
                width: 220px;
                height: 50px;
            }
            .steering-wheel {
                width: 100px;
                height: 100px;
            }
        }
    }
}